<!--The content below is only a placeholder and can be replaced.-->
<div class= "overlay" style="text-align:center">
  <div class = "main-content">
    <!--Left Panel-->
    <div class="left-panel">
      <div class="image-content">
        <img src="https://avatars2.githubusercontent.com/u/6047374?s=400&u=6ee0d8ad377c430bb5361b7022761a9c6a2ed852&v=4" alt="profile-picture" sizes="200px">
      </div>
      <ul>
        <li>
          <h4><a target="_blank" rel="noopener" href="https://github.com/bhargavgunreddy/resume/raw/master/Bhargav_Reddy.pdf">Resume</a></h4>
        </li>
        <li>
          <h4><a target="_blank" rel="noopener" href="https://github.com/bhargavgunreddy/resume/raw/master/Bhargav_Reddy.pdf">Follow</a></h4>
        </li>
        
      </ul>
    </div>

    <!--Right Panel-->
    <div class="rightpanel">
      
      <p> Good morning !!
        Thanks for stopping by.
        This is an attempt to prove that i am a sofware engineer indeed. lol :)

        Coding is my passion and i slowly began to realise the importance of keeping up with the technology.
        So this is part of my experiment to keep up with new enhancements in javascript and frameworks based on it.

        To master them.
      </p>
    </div>
  </div>

  <!--Footer-->
  <div class = "footer"></div>
  
</div>



